@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black;
}

html {
    scroll-behavior: smooth;
}